<template name="cart">
    <h3>In your cart</h3>
    <ul>
        {{#each contents}}
        <li>{{product.title}}
            <button
            class="removeAction btn btn-xs btn-danger">
                x
            </button>
            <button
            class="incrementAction btn btn-xs btn-primary">
                +
            </button>
            {{quantity}}
            <button
            class="decrementAction btn btn-xs btn-primary">
                -
            </button>
        </li>
        {{/each}}
    </ul>
</template>