<template name="home">
    <div class="row">
        <div class="col-sm-7">
            {{> store}}
        </div>
        <div class="col-sm-5">
            {{> news}}
        </div>
    </div>
</template>