<template name="layout">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#nvbcl"
          aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Home</a>
      </div>

      <div class="collapse navbar-collapse" id="nvbcl">
        <ul class="nav navbar-nav">
          <li><a href="/products">Products</a></li>
          <li><a href="/cart">Cart</a></li>
          <li><a href="/time">Time</a></li>
          <li><a href="/admin">Admin</a></li>
          <li>{{> atNavButton}}</li>
        </ul>      
      </div>
    </div>
  </nav>
  <div class="container">
    {{>yield}}
  </div>
</template>