<template name="news">
    <h3>News</h3>
    <ul class="list-group">
        {{#each news}}
        <li class="list-group-item">
            {{title}}
            <button class="btn btn-danger btn-xs removeAction">x</button>
        </li>
        {{/each}}
    </ul>
    <form>
        <input type="text" name="title" placeholder="Title" />
    </form>
</template>
