<template name="products">
    <h3>Products</h3>
    <ul>
        {{#each list}}
        <li>{{title}} {{price}}€</li>
        {{/each}}
    </ul>

    <h3>Add a new product</h3>
    {{> quickForm collection="Products" id="insertProductForm" type="insert"}}
</template>