<template name="store">
    <h3>Products</h3>
    <ul>
        {{#each list}}
        <li>
            {{title}} {{price}}€
            <button class="btn btn-xs btn-success buyAction">
                Buy
            </button>
        </li>
        {{/each}}
    </ul>
</template>